// This is also ripped from ActivityLevelReport under researcher. I don't even know what a .less file is.
// - Brody

// Currently this doesn't work as the server doesn't grant access to the grades variable.
// Upon opening the Gradebook tab, the page crashes and the console shows a 403, so the
// request to get grades (and likely all subsequent variables) is received but declined.
// I don't know how to fix this :D

@import '../../../../assets/style.less'; // added more ../, must be a better way!

// Define variables for colors and dimensions
@lightBlue: #62aadb;
@barHeight: 50px;
@sectionWidth: 30%;

/* Styles for the submission menu */
.submission-menu {
    background-color: @lightBlue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px; /* Adjust height as needed */
    border-radius: 25px;
    overflow: hidden;
    padding: 0 40px;
  }
  
  /* Styles for the sections within the submission menu */
  .section {
    flex: 1;
    width: @sectionWidth;
    justify-content: center;
    align-items: center;
    display: flex;
    color: @lightBlue; /* Default text color */
    height: auto;
    background: transparent; /* Default background color */
    font-size: 1.2em;
    text-align: center;
    margin: 0 5px;
    font-weight: 600;

    &:nth-child(2) {
        flex: 2; /* Middle section, twice as large */
      }
    
      &:not(:nth-child(2)) {
        flex: 1; /* Outside sections */
      }
  
    .ant-select {
      width: @sectionWidth;

    }
  
    .ant-select-selector {
      border: none;
      border-radius: 4px;
      padding: 8px 15px;
      height: auto;
      line-height: normal;
      background-color: @lightBlue; /* Light blue background for dropdown selector */
      color: black; /* Default text color */
      font-size: 1.2em;
      font-weight: 600;
      &:hover,
      &:focus {
        border-color: transparent;
        box-shadow: none;
      }
    }
  
    .ant-select-arrow {
      color: #333; /* Default text color */
    }
  
    .ant-select-dropdown {
      background-color: transparent; /* Light blue background for dropdown menu */
      .ant-select-item {
        padding: 8px 15px;
        font-size: 1.2em;
        font-weight: 600;
        color: white; /* Default text color */
      }
    }

  }
